<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Cooper</title>
</head>
<body style="background-color: blue;">
   <h1>My Favorate Food is a Popeyes Chicken Sandwich</h1>
   <p>My favorate food changes depending on what im eating, so i dont have a set in stone answer, but at the moment, whenever im home alone and need dinner or something ill just ask my mom or dad to order me popeyes. </p>
   <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.markets.businessinsider.com%2Fimage%2F5d5bfa76cd978452b0185155-2222%2Fchicken-sandwich-49.jpg&f=1&nofb=1" alt="Popeyes Chicken Sandwich">   
</body>