<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mannendri</title>
    <link rel="stylesheet" href="../static/mannendri.css">
</head>
<body>
    <h1 id="heading">My Name is Mannendri  Olivares</h1>
    <img id="fav-food" src="https://www.supermarketperimeter.com/ext/resources/artisan-chocolate-jpeg.jpg?1572465956" alt="">
    <p id="content">I am a junior at Columbia Secondary School for Math, Science, and Engineering.
        I enjoy computer science.
    </p>
</body>
</html>